<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Questionair</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/login">
    <i class="material-icons w3-xxxlarge" id="logo">home</i>      
    </a>
    <div class="navlink">
      
      <h3 id="userProfile">Profile</h3> 
      
      <a href="/logout" id="logout" >Log out</a>
      <h3 id='paymentLink'>Go premium</h3>
    </div>
  </nav>
  <section id="DisplayHead">

  </section>
  <section id="domos">
  </section>
  
  <script src="/assets/bundle.js"></script>
  
</body>

</html>